* {
  color: white;
  background: #2c3e50;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3498db, #2c3e50);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3498db, #2c3e50);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-shadow: 3px 3px black;
}

body {
  width: 100%;
  font-family: 'Titillium Web', sans-serif;
  color: white;
  align-items: bseline;
  background: rgba(0, 0, 0, 0.0);
}

.container {
  color: white;
  background: rgba(0, 0, 0, 0.0);
}

.center {
  align-items: center;
  width: 100%;
  margin-left: 45%;
  padding: 2%;
  font-size: 22px;
  background: rgba(0, 0, 0, 0.0);
}

h1 {
  align-items: center;
  font-stretch: extra-expanded;
  background: rgba(0, 0, 0, 0.0);
  font-family: 'Bree Serif', serif;
  font-size: 45px;
  text-shadow: 3px 3px black;
}

h2 {
  align-items: center;
  background: rgba(0, 0, 0, 0.0);
  text-shadow: 3px 3px black;
}

.btn-primary {
  box-shadow: 3px 3px black;

}

@media (min-width: 1200px) {
  .center {
    margin-left: 43%;
    background: rgba(0, 0, 0, 0.0);
  }
}

@media only screen and (max-width: 640px) {
  .center {
    margin-left: 41%;
    background: rgba(0, 0, 0, 0.0);
  }
}
